*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-template-rows: 
    1fr
    5fr
    3fr
    2fr;
    gap: 0.1rem;
}
header{
    grid-area: header;
    background-color: aquamarine;
}
aside{
    grid-area: sidebar;
    background-color: bisque;
}
main{
    grid-area: main;
    background-color: blueviolet;
}
footer{
    grid-area: footer;
    background-color: cadetblue;
}
.content{
    background-color: aqua;
}
#c1{
    grid-area: content1;
}
#c2{
    grid-area: content2;
}
#c3{
    grid-area: content3;
}

@media (max-width:500px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 
        1fr
        1fr
        3fr
        2fr
        2fr
        2fr
        1fr;

        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}